.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.table-scrollable {
  overflow-x: auto;
  max-width: 1250px;
  box-shadow: inset 0 0 5px rgba(150, 150, 150, 0.35);
  margin: auto;
}
th {
  text-wrap: nowrap;
  text-align: center;
  font-size: small;
}
td {
  text-wrap: nowrap;
  font-size: smaller;
}
select, input {
  margin-bottom: 1rem;
}
p{
  width: 13rem;
}
.custom-offcanvas-header, 
.custom-offcanvas-title,
.custom-offcanvas-menu{
    filter: invert(1);
}
.custom-class {
  width: 75%;
  background-color: white;
  display: flex;
}
.custom-perPage {
  width: 50px;
}
.active {
  background-color: #cad0d572; /* Change to your desired active background color */
  border-radius: 4px; /* Optional: Add some rounded corners */

}